* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f1f1f1;
    color: #333;
}

header {
    background-color: #1e1e1e;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navbar nav ul li {
    margin: 0 15px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar nav ul li a:hover {
    color: #f39c12;
}

main {
    padding: 40px;
    text-align: center;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
}
.documents a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.documents a:hover {
    background-color: #45a049;
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.button-link:hover {
    background-color: #45a049;
}
/* Style général du body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Container du formulaire */
.password-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titre de la page */
.password-container h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

/* Style du formulaire */
.password-container form {
    margin: 0;
}

/* Champ de saisie du mot de passe */
.password-container input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style du bouton */
.password-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.password-container button:hover {
    background-color: #45a049;
}

/* Message d'erreur */
#error-message {
    color: red;
    font-size: 14px;
    display: none;
    margin-top: 10px;
}
